@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Mapping Figma tokens to Tailwind utilities */
  --color-border-subtle: var(--border-subtle);
  --shadow-soft: var(--shadow-soft);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Figma Variables Definition */
  --border-subtle: rgba(10, 20, 30, 0.05);
  --shadow-soft: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}